@model List<Employees.ViewModels.EmployeesListViewModel>
@using System.Web.UI.WebControls

@{
    Layout = "~/Views/Shared/_BaseView.cshtml";
}

<div>
    <h2>Список сотрудников</h2>
    <table>
        <tr>
            @{ var mod = Model.ElementAtOrDefault(0);
                <th>@Html.LabelFor(m => mod.Name)</th>
                <th>@Html.LabelFor(m => mod.SecondName)</th>
                <th>@Html.LabelFor(m => mod.Years)</th>
                <th>@Html.LabelFor(m => mod.Department)</th>
                <th>@Html.LabelFor(m => mod.ProgrammingLanguage)</th>
                <th></th>
            }
        </tr>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Name</td>
                <td>@e.SecondName</td>
                <td>@e.Years</td>
                <td>@e.Department</td>
                <td>@e.ProgrammingLanguage</td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", "Employees", new { Id = @e.Id }, null)<br>
                @Html.ActionLink("Удалить", "Delete", "Employees", new { Id = @e.Id }, null)
            </td>
        </tr>
        }
    </table>

</div>